.text-center{
  text-align: center;
}

.white{
  color: white;
}
body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
html{
  height: 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #55AAFF;
}

.light{
  font-family: 'Montserrat-light', sans-serif;
  font-weight: 0;
}

/** Navigation Bar **/

#navBar{
  background-color:#18191A;
  height:fit-content;
}
.logo{
  height:95px;
  padding: 0 20px 10px 10px;
  filter: opacity(0.5) drop-shadow(0 0 0 #FFD650);
}

.navbar-brand{
  font-family: "Sofia",serif;
  font-size: 40px;
}

.navbar{
  padding: 0;
}

.nav-item{
  padding: 0 25px;
  font-size: 18px;
  font-weight: 300;
}

/** Title Page **/


#title{
background-color:black;
padding: 9% 3% 0 0;
}

.buttonsContainer{
  padding-left:130px;
}

.btn{
  margin-right: 55px ;
  margin-bottom:40px;
}

h1{
  font-family: 'Crimson Pro', serif;
  font-size: 5rem;
  padding-bottom: 45px;
  padding-left: 130px;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in-image {
  animation: fadeIn 4s;
}

.titleLogo{
  position: relative;
  right:20%;
  height: 650px;
}


/** Title Page **/


#features{
  padding-top: 8%;
  padding-bottom: 3%;
}

.featureHeader{
  padding-bottom: 12px;
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: Bolder;
}
.featureText{
  padding-bottom: 70px;
}

.icon{
  font-size: 50px;
  color: #4c401c;
}

/** Product Carousel **/
#products{
  padding: 9% 10% 5% 10%;
  text-align: center;
  background-color: black;
}

.carouselIcon{
  height: 200px;
  padding-bottom: 15px;
}

.carousel-control-prev{
  font-size:35px;
  padding:90px 50px 0 0;
}

.carousel-control-next{
  font-size:35px;
  padding:90px 0 0 50px;
}

h2{
  font-family: 'Crimson Pro', serif;
  font-size: 60px;
  letter-spacing: 3px;
  padding-bottom: 150px;
}

h3{
  font-family: 'Sophia', serif;
  font-size: 38px;
  padding-bottom: 20px;
}
.description{
}

/** Purchase Display **/

#pricing{
  padding: 5% 0;
}
.productDisplay{
  padding: 20px 0;
  font-size: 80px;
}
.decoration{
  z-index:-9;
  position: absolute;
  height: 20vw;
  width:20vw;
  border-radius: 100%;
  border-style: solid;
  border-width: 20px;
  border-color: #FFD650;
}



/** footer **/

#cta{
  padding: 2% 0;
}

.socialLink{
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 5px;
      color: lightgrey;
      text-decoration: none;
}

.socialHeader{
  font-size: 125%;
}
